@import '../../../packages/config/theme.css';
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--atg-surface);
    color: var(--atg-fg);
    @apply antialiased transition-colors duration-200;
  }
}

.leaflet-container {
  font-family: inherit;
  background: var(--atg-surface);
  z-index: 0;
}
